.posts {
  display: flex;
  gap: 56px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px ;

}

.posts__post {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 330px;
  overflow: hidden;
  background-color: var(--color-primary-alt);
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
  border-radius: 10px;
  animation-name:fadeIn;
  animation-duration:.5s
}

.posts__post:hover {
  cursor: pointer;
  box-shadow:  0 1px 20px rgba(0, 0, 0, 0.678);
  transform: scale(1.04);
  transition: all 0.3s;
}
.posts__post:active {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transform: scale(1);
  transition: all 0.3s;
}

.posts__post p {
  width: 280px;
  text-overflow: ellipsis;
  margin: 12px 10px;
  font-size: 15.4px;
}
.posts__post img {

}
.posts__post h3 {
  margin: 20px 0 0 0;
}
.posts__post hr {
  width: 80%;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 0 0 20px 0;
}


