.navbar-item {
  width: 137px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s;
}

.navbar-item img {
    height: 40px;
    transform: translate(0px);
}

.navbar-item:hover img {
  cursor: pointer;
  position: relative;
  transform: translate(-144px);
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
