@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import "./color_themes.css";
@import "./spacing.css";
@import "./typos.css";

/* * {
  margin: 0;
  padding: 0;
} */
html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

:root {
  --border-radius: 10px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 2em !important;
}

button{
  cursor: pointer;
}

button {
  color: var(--color-secondary);
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  border-radius: 20px;
  padding: 6px;
  width: 87px;
  box-shadow: var(--box-shadow);
  transition: all .1s;
  outline:none
}
button:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.719);
  transform: scale(1.01);
}
button:active {
  box-shadow: var(--box-shadow);
  transform: scale(1);
}

input {
  box-sizing: border-box;
  background-color: var(--color-primary);
  border-radius: 17px;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  padding: 7px;
  width: 100%;
  box-shadow: var(--box-shadow);
  color: var(--color-secondary);
  outline: none;
  transition: all .5s;
}

input:focus {
  border-color: var(--color-secondary);
}
