@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import "./color_themes.css";
@import "./spacing.css";
@import "./typos.css";

/* * {
  margin: 0;
  padding: 0;
} */
html{
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

:root {
  --border-radius: 10px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

:-webkit-any(article,aside,nav,section) h1 {
  font-size: 2em !important;

}