.about {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "about__title about__title about__title about__title about__title"
    "about__text about__text about__text about__face-image about__face-image"
    "about__text about__text about__text about__face-image about__face-image";
  color: var(--color-secondary);
  padding: 30px 70px;
}

.about__title {
  grid-area: about__title;
  justify-self: start;
  align-self: end;
}

.about__text {
  grid-area: about__text;
  align-self: center;
}
.about__text P {
  text-align: start;
  margin: var(--spacing-s);
}

.about__face-image {
  grid-area: about__face-image;
  align-self: center;
}

.about__face-image img {
  width: 400px;
}

@media (max-width: 900px) {
  .about{
    display: flex;
    flex-direction: column;
    
    height: auto;
  }
  .about__face-image img {
    margin-top: 30px;
  }
  
  
}