.modal-sjh {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.685);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.modal__container {
  position: relative;
  top: 10rem;
  background-color: var(--color-primary-alt);
  border-radius: 5px;
  padding: var(--spacing-xs);
  box-shadow: var(--box-shadow);
  width: 400px;
}
.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  color: var(--color-secondary);
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.button:active {
  transform: scale(1);
}
.button.button--html {
  background-image: linear-gradient(to right, #e44d26, #ff8d00);
  outline-color: #ff8d00;
}

.button.button--css {
  background-image: linear-gradient(to right, #264de4, #26bae3);
}

.button.button--js {
  background-image: linear-gradient(to right, #ffc800, #ffff35);
}

.button.button--node {
  background-image: linear-gradient(to right, #3dae2b, #3de12b);
}
