.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: var(--color-primary-alt);
  box-shadow: var(--box-shadow);
  z-index: 1;
}
.navbar__logo {
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.navbar__item {
  transition: all 0.1s;
  position: relative;
  text-decoration: none;
}
.navbar__item:active {
  transform: scale(0.92);
}
.navbar__button-theme {
  display: flex;
  cursor: pointer;
  padding-left: 20px;
}
.navbar__button-theme img {
  transform: scale(0.9);
  opacity: 1;
}
.navbar__button-theme:hover img {
  transform: scale(1) rotate(360deg);
  opacity: 0.71;
}
.navbar__button-theme:active img {
  transform: rotate(360deg) scale(0.9);
  opacity: 1;
}

@media (max-width: 735px) {
 
}