.post-form {
    height: 100%;
  background-color: var(--color-primary-alt);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: initial !important;
  overflow: auto;
  margin: initial;
  padding: initial;
}

.post-form__content {
  display: flex;
  gap: 50px;
  height: 100%;
 width: 100%;
}
.post-form__form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 30%;
}
.post-form__form textarea{
    /* width: 664px; */
    height: 100%;
    font-size: 16px;
    line-height: 1.4;
    padding:10px
}



.post-form__markdown {
  flex: 2;
  height: 100%;
  width: 70%;
}
