.App {
  text-align: center;
  margin-top: 60px;
  height:calc(100vh - 60px);
  overflow: auto;
  background-color: var(--color-primary);
}

.App section{
  height:100vh;
  margin-bottom:20px;
  padding-top: 1px;
}